<!doctype html>
<html>
  <head>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>Varredor de processos</title>
<style>
body  {
 background-color:orange;
}
</style>

  </head>
  <body>
<div style="background-color:white;">
        <div class="top" style="text-align: center;background-color:orange;" >
                <img src="{{ url_for('static', filename='icon.png') }}" width="200" height="100">
                <h1>Varredor de processos</h1>    </br></br>
        </div>
    <div id="content" style="text-align: center;">
    {% block content %}
    {% endblock %}
    </div>
        </br></br>
    <div id="contact" style="text-align:center;" >
            <h4> Sugestões, reclamações e suporte: <b>icaromarley5@gmail.com</b> </h4>
    </div>
</div>
  </body>
</html>