{% extends "base.html" %}
{% block content %}

    <div style="display: inline-block; text-align: left; width:60%;">

<div style="text-align:center">
        <h3>Ao efetuar o login, clique em "Continuar"</h3>
</div>
        </br>
    <h3>
<div style="text-align:center">
    <a href="/start/" role="button"  class="btn btn-primary" >Continuar</a>
    </div>
    </h3>


    </div>
    {% endblock %}
