{% extends "base.html" %}
{% block content %}

<div style="display: inline-block; text-align: center; width:60%;">

<a href={{url_for('reset')}} role="button"  class="btn btn-primary" >Página inicial</a></br>
</br>
<h2>Não foi possível concluir a execução.</h2>
</br>
Motivo(s):</br>
{% for error in errors %}
<b>{{error}}</b></br>
{% endfor %}
Por favor, entre em contato com o suporte
</br>

</div>
{% endblock %}