{% extends "base.html" %}
{% block content %}

<div style="display: inline-block; text-align: left; width:60%;">

     <div style="text-align:center"> 
         <h2> Descrição</h2>
     </div>

     Seja bem vindo(a)!</br>
     Este programa vasculha todos os processos de um(a) advogado(a) na ferramenta PJE e coleta informações sobre cada processo.</br>
     Ao final da execução, é mostrada uma tabela onde o usuário poderá ver detalhes de cada processo como:</br>
     <ul>
          <li>A movimentação mais recente</li>
          <li>A audiência mais recente</li>
     </ul>
     Por favor, leia atentamente as informações a seguir:

     <div style="text-align:center"> 
     <h2>Instruções:</h2>
     </div>

     <ol>
     <li>Clicar em "Continuar". Um nova aba vai abrir, no site do PJE.</li>
     <li>Efetuar o login na aba aberta pelo passo 1</li>
     <li>Nesta aba, confirmar que o login foi feito</li>
     <li>Aguardar resultados. O progresso da execução será mostrado nesta aba.</li>
     </ol>

     <div style="text-align:center"> 
     <h2>Observações</h2>
     </div>

     <ul>
     <li>Ao clicar no botão, uma nova aba abrirá na página de login do PJE.</li>
     <li>Ao confirmar o login, é de extrema importância que o este navegador não seja utilizado.</li>
     <li>É necessária também uma internet estável (sem quedas).</li>
     <li>Durante a execução, novas abas serão abertas e fechadas constantemente. Esse processo é normal e vai parar ao final da execução.</li>
     <li>Caso ocorra algum problema, entre em contato com o suporte.</li>
     </ul>
     <h2>
     </br>

<div style="text-align:center">
<a href="/confirm_login/" role="button"  class="btn btn-primary" >Continuar</a>
</div>
</h2>

</div>
{% endblock %}

