{% extends "base.html" %}
{% block content %}
<div style="display: inline-block; text-align: center; width:60%;">

<h2>O programa está executando...</h2>

    </br>
<h3>Progresso:</h3>
    <div class="progress" style="margin: 50px">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="progress-bar-label">0%</span>
		</div>
    </div>

</div>
<script>
        var source = new EventSource({{url_for('progress')}});
        source.onmessage = function(event) {
            if(event.data == 'ERROR'){
                window.location.href = {{url_for('error')}}
            }
            $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
            $('.progress-bar-label').text(event.data+'%');
            if(event.data == 100){
                source.close();
                alert("Execução finalizada");
                window.location.href = {{url_for('results')}};
            }
            
        }
        </script>

    
{% endblock %}