{% extends "base.html" %}
{% block content %}
    <div style="display: inline-block; text-align: center; width:60%;">

<a href={{url_for('reset')}} role="button"  class="btn btn-primary"  >Página inicial</a></br>
<h3>Resultados</h3>
<h4>Sobre a execução:</h4>
{% for message in result_messages %}
{{message}}</br>
{% endfor %}
</h4>
</br>
</br>
</div>

<div style="display: inline-block; text-align: center; width:80%;">
<a href="{{url_for('download', extension='csv')}}"><img src="{{ url_for('static', filename='csv_icon.png') }}" width="70" height="70"></a>
</br></br>

<a href={{url_for('results')}} role="button"  class="btn btn-primary" style="float:left" >Ordenar por movimentação</a>
<a href={{url_for('results', orderby='trial')}} role="button"  class="btn btn-primary"  style="float:left">Ordenar por audiência</a></a>

{{table|safe}}
</div>


{% endblock %}